@import "../../styles/colors.scss";

.inputWrap {
  margin-top: 25px;
  position: relative;


  &:focus-within {
    label {
      transform: translateY(-20px);
      opacity: 1; 
    }
  }

  input {
    width: 100%;
    line-height: 24px;

    &:not(:placeholder-shown) + label {
      transform: translateY(-20px);
      opacity: 1;
    }

    &[data-status="valid"] {
      border-color: $valid;
    }
  
    &[data-status="invalid"] {
      border-color: $invalid;
    }
  }

  label {
    text-transform: capitalize;
    position: absolute;
    transform-origin: 0%;
    transform: translateY(0px);
    transition: transform 300ms ease;
    color: $primary;
    opacity: 0;
    left: 0;
  }
}